
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Bruno Ace', cursive;
font-family: 'Noto Sans Miao', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik Pixels', cursive;
font-family: 'Ubuntu', sans-serif;
}

/* Basic styling */
body {
    
    background-color: #f2f2f2;
}

header {
    background-color:#6422cd;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color:  #6422cd;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6422cd;
    color: #fff;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
